[package]
name = "dlt-protocol"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = []
std = []

[dependencies]

[target.'cfg(target_arch = "wasm32")'.dependencies]
